.header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to right, rgb(8, 7, 7), rgb(24, 24, 95), rgb(95, 95, 206));
    width: 100vw;
    height: 10vh;
    box-shadow: 4px 4px 6px 0px rgb(95, 95, 206), inset -2px -2px 2px 0px rgb(24, 24, 95), inset 2px 2px 2px 0px rgb(8, 7, 7);
}